[project]
	description = A company profile website made for Septa Karya Pratama.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Afid Eri Pratama (soverdrive)
[access "refs/for/refs/*"]
	read = group user/Afid Eri Pratama (soverdrive)
	push = group user/Afid Eri Pratama (soverdrive)
	label-Code-Review = -2..+2 group user/Afid Eri Pratama (soverdrive)
	label-Verified = -1..+1 group user/Afid Eri Pratama (soverdrive)
	rebase = group user/Afid Eri Pratama (soverdrive)
	removeReviewer = group user/Afid Eri Pratama (soverdrive)
	submit = group user/Afid Eri Pratama (soverdrive)
[access "refs/heads/*"]
	read = group user/Afid Eri Pratama (soverdrive)
	create = group user/Afid Eri Pratama (soverdrive)
	push = +force group user/Afid Eri Pratama (soverdrive)
	pushMerge = group user/Afid Eri Pratama (soverdrive)
[access "refs/tags/*"]
	push = group user/Afid Eri Pratama (soverdrive)
	push = +force group user/Afid Eri Pratama (soverdrive)
